<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
        <p class="small">{{ site.description | default: site.github.project_tagline }}</p>
        <!-- add TOC in sidebar -->
        <b>SECTIONS</b><br/>
            » <a class="page-link" href="/publisher-workflow/articles/account_management.html">Account Management</a><br/>
            » <a class="page-link" href="/publisher-workflow/articles/organizations.html">Organizations</a><br/>
            » <a class="page-link" href="/publisher-workflow/articles/questionnaires.html">Questionnaires</a><br/>
            » <a class="page-link" href="/publisher-workflow/articles/questions.html">Questions</a><br/>
      </header>

      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Need help? Contact <a href="mailto:oaq@fas.harvard.edu">oaq@fas.harvard.edu</a>.</small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
